body {
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	background: #F1F1FF url(img/header-bg.png) 0 -35px repeat-x;
	margin: 20px 0 0 20px;
}

body, table, p, ul, ol {
	color: #444;
}

img { border: none; }


a.button,
button {
	padding: 0 20px;
	height: 35px; line-height: 35px;
	border: 1px solid #aaa;
	color: #fff;
	background: #2E842E;
	background: -moz-linear-gradient(top,#51C251 0,#2E842E 100%);
	background: -ms-linear-gradient(top,#51C251 0,#2E842E 100%);
	background: -o-linear-gradient(top,#51C251 0,#2E842E 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#51C251),color-stop(100%,#2E842E));
	background: -webkit-linear-gradient(top,#51C251 0,#2E842E 100%);
	background: linear-gradient(to bottom,#51C251 0,#2E842E 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}

a.button:hover,
button:hover {
	background: #246624;
	border-color: #999;
	background: -moz-linear-gradient(top,#51C251 0,#246624 100%);
	background: -ms-linear-gradient(top,#51C251 0,#246624 100%);
	background: -o-linear-gradient(top,#51C251 0,#246624 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#51C251),color-stop(100%,#246624));
	background: -webkit-linear-gradient(top,#51C251 0,#246624 100%);
	background: linear-gradient(to bottom,#51C251 0,#246624 100%);
	-moz-box-shadow: 0 1px 5px #888;
	-ms-box-shadow: 0 1px 5px #888;
	-webkit-box-shadow: 0 1px 5px #888;
	box-shadow: 0 1px 5px #888;
}

a.button:active,
button:active {
	background: -moz-linear-gradient(top,#246624 0,#51C251 100%);
	background: -ms-linear-gradient(top,#246624 0,#51C251 100%);
	background: -o-linear-gradient(top,#246624 0,#51C251 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#246624),color-stop(100%,#51C251));
	background: -webkit-linear-gradient(top,#246624 0,#51C251 100%);
	background: linear-gradient(to bottom,#246624 0,#51C251 100%);
}

a.button { display: inline-block; }



.content { 
	border-left: solid 1px #ccc; 
	margin-left: 20px;
	padding-left: 20px;
	min-height: 100px;
}

span.title {
	display:inline-block;
	width: 150px;
	margin-left: 5px;
}
span.error {
	color: red;
}


.clearfix { overflow: hidden; zoom: 1; }
.f-left   { float: left; }
.f-right { float: right; }

#overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #fff;
}

#feedbak {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

#feedbak img { margin-right: 20px; }
#feedbak #content {
	border: solid 3px #aaa;
	background: #000;
	color: #fff;
	margin: 10% auto;
	padding: 20px;
	width: 400px;
	box-shadow: 0 2px 10px #888;
	-moz-box-shadow: 0 2px 10px #888;
	-webkit-box-shadow: 0 2px 10px #888;
}
#feedbak .btn {
	padding: 5px 0;
	text-align: right;
}
