etracs2-prov/build.xml
etracs2-prov/build/*
etracs2-prov/dist/*
etracs2-prov/manifest.mf
etracs2-prov/nbproject/private/*

etracs2-faas-report/build.xml
etracs2-faas-report/build/*
etracs2-faas-report/dist/*
etracs2-faas-report/manifest.mf
etracs2-faas-report/nbproject/private/*

