etracsplatform/build/*
etracsplatform/main/build/*
etracsplatform/rameses-updates/build/*
etracsplatform/.terminal
etracsplatform/client.conf
etracsplatform/osiris2/modules/*
etracsplatform/dist/etracs2.zip
etracsplatform/reports/*



etracs2-admin/etracs2-admin/.terminal
etracs2-admin/etracs2-admin/client.conf
etracs2-admin/etracs2-admin/test/deployers/cache.properties
etracs2-admin/etracs2-admin/build/*
etracs2-admin/etracs2-admin/dist/*
etracs2-admin/etracs2-admin/nbproject/private/*

etracs2-tc/tc2/build/*
etracs2-tc/tc2/dist/*
etracs2-tc/tc2/nbproject/private/*
etracs2-tc/tc2/reports/*
etracs2-tc/tc2/client.conf
etracs2-tc/tc2/test/deployers/*
etracs2-tc/tc2/test/*



etracs2-common/etracs2-common/build/*
etracs2-common/etracs2-common/dist/*
etracs2-common/etracs2-common/nbproject/private/*
etracs2-common/etracs2-common/test/*

etracs2-bp/bp2/build/*
etracs2-bp/bp2/dist/*
etracs2-bp/bp2/nbproject/private/*
etracs2-bp/bp2/reports/*
etracs2-bp/bp2/test/*
etracs2-bp/bp2/.terminal


etracs2-rpt/rpt2/build/*
etracs2-rpt/rpt2/dist/*
etracs2-rpt/rpt2/nbproject/private/*
etracs2-rpt/rpt2/reports/*
etracs2-rpt/rpt2/.terminal
etracs2-rpt/rpt2/test/*

etracs2-province/etracs2-prov/.terminal
etracs2-province/etracs2-prov/client.conf
etracs2-province/etracs2-prov/etracs2-prov.jar
etracs2-province/etracs2-prov/


