etracsplatform/build/*
etracsplatform/main/build/*
etracsplatform/rameses-updates/build/*
etracsplatform/.terminal
etracsplatform/client.conf
etracsplatform/osiris2/modules/*



etracs2-admin/etracs2-admin/.terminal
etracs2-admin/etracs2-admin/client.conf
etracs2-admin/etracs2-admin/test/deployers/cache.properties
etracs2-admin/etracs2-admin/build/*
etracs2-admin/etracs2-admin/dist/*
etracs2-admin/etracs2-admin/nbproject/private/*

etracs2-tc/tc2/build/*
etracs2-tc/tc2/dist/*
etracs2-tc/tc2/nbproject/private/*
