@import url(common.css);


body {
	margin:0;
	font-size: 11px;
	line-height: 1.45em;
	background: #F1F1FF;
}

body, table, div, p {
	font-family: arial, verdana, tahoma;
}

.head {
	padding: 0;
	background: url(../img/index/header-bg-side.png) repeat-x center top;
	color: #0066FF;
}

.head .middle {
	background: url(../img/index/header-bg.png) repeat-x center bottom;
	height: 105px; overflow: hidden;
}

.head .middle td.logo {
	background: url(../img/index/header-bg-l.png) no-repeat left bottom;
	padding-left: 10px;
}
.head .middle td.login {
	background: url(../img/index/header-bg-r.png) no-repeat right bottom;
	padding-right: 10px; padding-top: 4px; 
}

.head .middle .vr {
	display: inline-block;
	vertical-align: middle;
	line-height: 85px; height: 85px;
	width: 0;
	border-left: solid 1px #ccc;
	border-right: solid 1px #fff;
	margin: 0 20px;
}

form.login {
	margin: 4px 10px 0 10px;
	width: 190px;
}

form.login .actions { 
	width: 185px; 
	margin-top: 2px;
}

form.login input {
	font-size:11px; 
	width:180px;
	padding: 3px;
	border: solid 1px #ccc;
	margin: 1px 0;
}

form.login .loginform .hint {
	font-size:10px; 
	color: gray;
}

form.login button,
form.login a {
	font-size:11px; 
	height: 23px; line-height: 23px;
}

.middle {
	background: url(../img/index/body-bg.png) repeat-x left bottom;
}

.main-links { margin-right: 5px; }

.main-links a {
	font-size: 20px;
	width: 180px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	height: 40px; line-height: 40px;
	margin: 3px 0;
	background: #7193C8 url(../img/index/blue-btn.png) repeat-x 0% 50%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 2px 5px #888;
	-moz-box-shadow: 0 2px 5px #888;
	-webkit-box-shadow: 0 2px 5px #888;
}

.main-links a:hover {
	background-position: 0% 100%;
	box-shadow: 0 2px 5px #444;
	-moz-box-shadow: 0 2px 5px #444;
	-webkit-box-shadow: 0 2px 5px #444;
}

.box {
	background: #fff url(../img/index/box-bg.png) repeat-x left bottom;
	width: 250px; height: 150px;
	padding: 5px 10px; margin: 5px; margin-bottom: 20px;
	border: solid 1px #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 2px 5px #bbb;
	-moz-box-shadow: 0 2px 5px #bbb;
	-webkit-box-shadow: 0 2px 5px #bbb;
}

.box p {
	font-size: 12px;
	line-height: 18px;
}




