body {
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	background: #F1F1FF url(../img/page/header-bg.png) 0 -35px repeat-x;
}

.centered {
	margin: 3% auto 0 auto;
	width: 400px;
}
.login-box {
	padding: 20px 20px 40px 20px;
	background: #fff;
	border: solid 1px #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 10px #bbb;
}

.error {
	color: #333;
	text-align: center; 
	background: #FFEBE8;
	padding: 5px 0;
	border: solid 1px #ff0000;
}

.form { width: 80%; margin-top: 20px; }
.form label,
.form .buttons { display:block; clear: both; margin-bottom: 5px; }
.form input { margin: 0; }
.form .caption { display: inline-block; width: 100px; }
.form .buttons { padding-left: 100px; }