@import url(common.css);


html, body { height: 100%; margin:0; }

body {
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	background: #F1F1FF;
}

.head {
	background: url(../img/page/header-bg.png) repeat-x left bottom;
	color: #fff;
	height: 45px;
	padding: 0;
}

.head .content {  }


.head .content td.left-side {
	background: url(../img/page/header-bg-l.png) no-repeat left bottom;
	width: 7px;
	padding: 0;
}

.head .content td.right-side {
	background: url(../img/page/header-bg-r.png) no-repeat right bottom;
	width: 8px;
	padding: 0;
}

.head .content .logo { padding-left: 10px; }
.head .content .mainmenu { padding-right: 10px; }

.head a {
	font-size:12px;
	font-weight:bolder;
	text-decoration:none;
	display: inline-block;
	line-height: 38px; height: 38px;
	padding: 0px 3px;
	color: #fff;
}

.head a:hover { color: #ccc; }


.middle {
	background: url(../img/index/body-bg.png) repeat-x left bottom;
	padding-bottom: 20px;
}

.foot {
	height: 40px;
}

.error {
	color:red;
	font-size:14px;
}
