body, table, p, ul, ol {
	color: #444;
}

img { border: none; }

h1,h2,h3,h4,h5,h6 { margin: 5px 0; }

form,
ul, ul li,
ol, ol li {
	margin: 0; padding: 0;
}

ul li, ol li { list-style-position: outside; margin-left: 20px; }

a { color: #0066FF; text-decoration: none; }
a:hover { text-decoration: underline; }


/*-- styles for <button/> and <a class="button"/> --*/
a.button,
button {
	padding: 0 .8em;
	height: 30px; line-height: 30px;
	border: 1px solid #aaa;
	color: black;
	background: #F6F6F6;
	background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
	background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
	background: -o-linear-gradient(top,#fff 0,#ddd 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
	background: linear-gradient(to bottom,#fff 0,#ddd 100%);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}

a.button:hover,
button:hover {
	border-color: #999;
	background: -moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.50),inset 0 0 3px #fff;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.50),inset 0 0 3px #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.50),inset 0 0 3px #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.50),inset 0 0 3px #fff;
}

a.button:active,
button:active {
	background: -moz-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: -ms-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: -o-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e0e0e0),color-stop(100%,#fff));
	background: -webkit-linear-gradient(top,#e0e0e0 0,#fff 100%);
	background: linear-gradient(to bottom,#e0e0e0 0,#fff 100%);
}

a.button { display: inline-block; }


/*====== floating styles ========*/

.clear { clear:both; }
.left  { float:left; }
.right { float:right; }
.clearfix { overflow: hidden; zoom: 1; }


/*====== alignment styles ==========*/

.align-r { text-align: right; }
.align-l { text-align: left; }
.align-j { text-align: justify; }
.align-c { text-align: center; }


/*====== generic styles ============*/

.capitalized { text-transform:capitalize; }

.hr {
	display: block;
	clear: both;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #eee;
	height: 0; line-height: 0;
	margin: 3px 0px; padding: 0;
}

.vr {
	display: inline-block;
	width: 0px;
	margin: 0 2px;
	border-left: solid 1px #aaa;
	border-right: solid 1px #ddd;
	height: 9pt; line-height: 9pt;
	vertical-align: middle;
}

.section { margin: 10px 0; }

.wingdings { font-family: "Wingdings" !important; }

.rounded {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;			
}


/*====== form ========*/
table.form {
	margin: 5px 0;
}

table.form td.form-caption { font-weight: bold; }

/* info-form */
table.info-form td {
	font-weight: bold;
	text-align: left;
}

table.info-form .form-caption {
	font-weight: normal;
	text-align: right;
	color: #555;
}


/*====== grid ========*/
table.grid {
	border: solid 1px #ccc;
	margin: 5px 0;
}

table.grid th, table.grid td {
	padding: 4px 8px; 
}

table.grid th,
table.grid thead td {
	border-bottom: solid 1px #ccc;
	background: #efefef;
	background: -moz-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -ms-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
	background: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25),inset 0 0 3px #fff;
}

table.grid td {
	border-bottom: solid 1px #ccc;
}

div.grid-controls {
	text-align: right;
}


/*-- jquery dialog customization -----*/
.ui-dialog .ui-dialog-titlebar {
	background: #006600 url('../img/page/header-bg.png') repeat-x left center;
	border: none;
}

/*-- no titlebar dialog --*/
.thick-bordered {
	border: solid 2px #ccc;
	box-shadow: 0 2px 10px #222;
	-moz-box-shadow: 0 2px 10px #222;
	-webkit-box-shadow: 0 2px 10px #222;
}

.thick-bordered .ui-dialog-titlebar {
	display: none;
}


/*-- jquery autocomplete ----*/
.ui-autocomplete {
	border: solid 1px #888;
	background: #f0f0f0;
	background: -moz-linear-gradient(top,#f0f0f0 0,#e0e0e0 100%);
	background: -ms-linear-gradient(top,#f0f0f0 0,#e0e0e0 100%);
	background: -o-linear-gradient(top,#f0f0f0 0,#e0e0e0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f0f0f0),color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,#f0f0f0 0,#e0e0e0 100%);
	background: linear-gradient(to bottom,#f0f0f0 0,#e0e0e0 100%);	
}

.ui-autocomplete .ui-state-hover {
	background: #3B5998;
	border-color: #fff;
	color: #fff;
}

.ui-autocomplete .ui-menu-item a {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 5px 3px;
}


/*-- infobox style --*/
.infobox {
	background: #fff;
	position:absolute;border:solid 1px #ccc; 
	padding: 10px; overflow: auto; zoom: 1;
	box-shadow: 0 2px 4px #bbb;
}


