@import url(common.css);


body {
	margin: 0;
	background-color:#F1F1FF;
}

body, table, p, ul, ol  {
	font-family: arial, Verdana, sans-serif;
	font-size: 11px;
	line-height: 1.45em;
}

.header {
	background: url(../img/page/header-bg.png) repeat-x left bottom;
	position: fixed; top: 0; left: 0;
	width: 100%;
	color: #fff;
	z-index: 100;
}

.header .content { height: 45px; }

.header .content td.left-side {
	background: url(../img/page/header-bg-l.png) no-repeat left bottom;
	width: 7px;
}

.header .content td.right-side {
	background: url(../img/page/header-bg-r.png) no-repeat right bottom;
	width: 8px;
}

.header .content .logo { padding-left: 10px; }

.header a {
	font-size:12px;
	font-weight:bolder;
	text-decoration:none;
	display: inline-block;
	line-height: 38px; height: 38px;
	padding: 0px 3px;
	color: #fff;
}

.header a:hover { color: #ccc; }

a.menu_open,
a.menu_open:hover
{
	background: rgb(0,40,0);
	color: #fff !important;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.dropdownmenu {
	background: rgb(0,40,0);
	border: none;
	box-shadow: 0px 2px 5px #bbb;
	-webkit-box-shadow: 0px 2px 5px #bbb;
	-moz-box-shadow: 0px 2px 5px #bbb;
	padding: 0px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	z-index: 1000;
}
.dropdownmenu ul { list-style: none; margin: 0; padding: 0; }
.dropdownmenu li { display: inline-block; width: 100%; padding: 0; margin: 0; }
.dropdownmenu a{ 
	display: block; padding: 5px 10px; text-decoration: none;
	color: #fff;
}
.dropdownmenu a:hover { 
	color: #ccc;
}


/*-- content styles --*/
.main-container {
	margin-top: 60px;
}

.main-content {

}

.footer {
	padding-top:10px;
	font-family:arial;
	font-size:10px;
}

.shadowbox {
	border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px;
	border:1px solid lightgrey;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	padding:10px;
	padding-top: 1px;
	padding-bottom: 50px;
}

/*-- canvas is the wrapper of #content in which the loading gif is attached --*/
.canvas {
	background:white url(../img/loading.gif) no-repeat 15px 25px; 
}

.canvas #content { opacity: 0; background: #fff; }



/*-- floating feedbak style --*/
#feedback {
	position: fixed;
	z-index: 99999;
	top: 25%; left: 0;
}

#feedback .info { 
	color: green; font-weight: bold; 
	margin-bottom: 10px;
	text-align: center;
}

#feedback .box {
	background: #fff;
	border: solid 1px #bbb;
	padding: 25px;
	padding-left: 10px;
	box-shadow: 0px 2px 5px #aaa; 
	-webkit-box-shadow: 0px 2px 5px #aaa; 
	-moz-box-shadow: 0px 2px 5px #aaa;
	width: 300px; height: 200px;
}

#feedback label {
	display: inline-block;
	font-size: 11pt;
}
#feedback input, #feedback textarea { 
	border: solid 1px #aaa;
	font-size: 11pt;
}
#feedback em { color: red; }
#feedback img { border: none; }
#feedback button { padding: 5px; margin-top: 10px; }
#feedback textarea { width: 100%; height: 100%; }
#feedback a:hover img { opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80); }


/*-- content menu style --*/
.content-menu {
	margin-bottom: 10px;
	border-bottom: ridge 1px #ddd;
	width: 550px;
}

.content-menu a {
	text-decoration: none;
}


/*-- textarea tag styles ----*/
.post-message { background: #fff; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
.post-message .inner { border:1px solid #a5aa84; }
.post-message textarea { border: 0; }
.post-message .controls-wrapper {
	background: #f1f1f1;
	border-top: solid 1px #a5aa84;
}
.post-message .txt-close { text-decoration: none; color: red; font: 14px arial, tahoma; }
.post-message .txt-close:hover { color: orange; }
.post-message .controls { overflow: hidden; border-top: solid 1px #fff; padding: 3px 2px; }


/*-- generic styles --*/

.box-outer { border-right:1px solid #ccc; border-bottom:1px solid #ccc }
.box { border:1px solid #a5aa84; }


/*
   .page-form-table
*/
.page-form-table
{
   font-size:12px;
   border-collapse:collapse;
   padding:5px 5px 5px 5px;
   margin:5px 5px 5px 5px;
}

.page-form-table .bottom-border
{
   border-bottom:1px solid #e9e5eb;
}

.page-form-table .text-top 
{
   vertical-align:text-top;
}

.page-form-table .default-padding
{   
   padding-bottom:10px;
   padding-top:10px;
}

.page-form-table .padding-top
{
   padding-top:10px;
}

.page-form-table .padding-bottom
{
   padding-bottom:10px;
}

.page-form-table input.text
{
   border:1px solid #a5aa84;
   font-size:11px;
   font-weight:normal;
   padding: 3px 10px 3px 10px;
   background:#ffffff;
}

.page-form-table input.text:selected
{
   border:1px border red;
}

.page-form-table select
{
   border:1px solid #a5aa84;
   font-size:11px;
   font-weight:normal;
   padding: 3px 10px 3px 10px;
   background:#ffffff;
}

.page-form-table textarea
{
   border:1px solid #a5aa84;
   font-size:11px;
   font-weight:normal;
   padding: 3px 10px 3px 10px;
   background:#ffffff;
}

.page-form-table a 
{
   color:#083c8c;
   font-weight:normal;
   font-size:11px;
   text-decoration:none;
}

.page-form-table a:hover
{
   text-decoration:none;
   color:#083c8c;
}

.page-form-table .close 
{
   color:#a5aa84;
   font-weight:bold;
   font-size:11px;
   text-decoration:none;
}

/*
   inner page sidebar
*/
.inner-page-sidebar 
{  
   padding-top:10px;
   font-size:14px;
}

.inner-page-sidebar td
{
   padding-bottom:2px;
}

.inner-page-sidebar a 
{
   text-decoration:none;
   color:#6386b5;
   font-weight:bold;
   font-size:12px;
}

.inner-page-sidebar a:hover
{
   color: #ffa629;
}


/*
   page-data-table
*/
.page-data-table
{
   border-collapse:collapse;
   font-size:11px;
   border:1px solid #efe4e0;
   padding:5px;
}

.page-data-table tr:hover 
{
   background:#efe4e0;
}

.page-data-table th
{
   border-bottom: 2px solid #6379b5;
   padding: 3px 15px 3px 15px;
   background:#ffffff;
}

.page-data-table td 
{
   padding: 5px 15px 5px 15px;
}

.page-data-table a 
{
   color:#083c8c;
   font-weight:normal;
   text-decoration:none;
}


