.week-calendar,
.week-calendar table {
	font-family:Arial;
	font-size: 9px;
}

.week-calendar {
	position: relative;
}

.week-calendar table {
	border: solid 1px #555;
}

.week-calendar th {
	border-bottom: solid 1px #555;
	border-right: solid 1px #555;
	padding:5px;
}

.week-calendar td {
	height:10px;
	width:12.5%;
	text-align:center;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #555;
}

.week-calendar td.row-header {
	border-bottom: 1px solid #555;
	border-right: 1px solid #555;
	height: 40px;
}

.week-calendar .time{
	vertical-align:top;
	border-right: 1px solid;
	width:100px;
	text-align:right;
}

.week-calendar th.bottom,
.week-calendar td.bottom{ border-bottom:1px solid #000; }

.week-calendar .schedbox {
	border:1px solid #aaa;
	position:absolute;
	opacity: 0.85; filter: alpha(opacity=85);
}

.week-calendar .schedbox-hover {
	border-color: #555;
	box-shadow: 0 3px 10px #666;
	-webkit-box-shadow: 0 3px 10px #888;
	-moz-box-shadow: 0 3px 10px #888;
}

.week-calendar .icon{
	width:15px;
	height:15px;
}
.week-calendar .content {
	position: relative;
	font-weight:bold;
	color:red;
	text-align:center;
}

.week-calendar .actions-container {
	position: absolute;
	top: 1px; right: 1px;
}

.week-calendar .actions {
	float: right;
	background: #000; color: #fff;
	padding: 2px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.week-calendar .actions a {
	float: right; margin-left: 3px;
	color: #fff;
	text-decoration: none;
}

.week-calendar .text {
	text-align: center;
	padding-top: 5px;
	font-size: 10px;
	overflow: hidden;
}

